.container_signin {
    width: 1300px;
    margin: 0px auto;
}

.wrapper_signin {
    display: flex;
    padding-top: 30px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.wrapper_signin .signin_left {
    margin: 0 150px 0px 10px;
    width: 30%;
}

.wrapper_signin .signin_right {
    margin: 0;
    padding: 0;
    width: 30%;
}

.wrapper_signin .signin_left .img {
    width: 500px;
}

.wrapper_signin .signin_left .img img {
    width: 100%;
}

.wrapper_signin .signin_right .title_signin {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.wrapper_signin .signin_right .title_signin h3{
    font-size: 25px;
}

.form_login .controll label {
    font-weight: bold;
}

.form_login .controll input {
    margin: 10px 0px;
    padding: 7px 0px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-signin {
    font-size: 17px;
    font-weight: bold;
    margin: 10px 0px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #81c8c2;
}

.btn-signin:hover {
    background-color: #a00;
}

.passs {
    margin-top: 10px;
}

.quen_pass {
    text-decoration: none;
}

.signin_facebook {
    width: 100%;
    height: 40px;
    background-color: #0274be;
    border: none;
    border-radius: 10px;
    color: white;

}

.signin_google {
    width: 100%;
    height: 40px;
    background-color: #F2F5F7;
    border: none;
    margin: 10px 0px;
    border-radius: 10px;

}

.signin_left-bottom {
    text-align: center;
}

.signin_left-bottom a {
    margin-top: 20px;
    color: #81c8c2;
}

.luu input {
    width: 30px;
}

.luu {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}