.listproduct {
    width: 80%;
    float: right;
    padding: 0px;
    margin: 0px auto;
}

.listproduct table {
    margin-top: 10px;
}

.listproduct thead {
    background-color: rgb(241, 241, 241);
    text-align: left;
}

.listproduct th {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

.listproduct th {
    padding: 20px 30px;
}

.listproduct td {
    padding: 20px;
}

.listproduct tbody {
    padding: 20px;
    text-align: center;
}

.listproduct img {
    width: 90px;
    border-radius: 15px;
}

.listproduct .chucnang {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 45px;

}

.sua {
    background-color: cornflowerblue;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.xoa {
    background-color: rgb(154, 16, 16);
    padding: 11px 12px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    color: white;
}

.themspmoi {
    text-decoration: none;
    color: darkslategray;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    padding: 20px;
}