.listproduct {
    width: 80%;
    float: right;
    padding: 0px;
    margin: 0px auto;
}

.listproduct thead {
    background-color: rgb(241, 241, 241);
    text-align: left;
}

.listproduct th {
    padding: 20px 30px;
}

.listproduct td {
    padding: 20px;
}

.listproduct tbody {
    padding: 20px;
}

.listproduct img {
    width: 110px;
    border-radius: 15px;
}

.listproduct .chucnang {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 40px;
    gap: 10px;
}

.sua {
    background-color: cornflowerblue;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    color: white;
}

.xoa {
    background-color: rgb(154, 16, 16);
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    color: white;
}