.container {
    width: 1300px;
    padding: 0px;
    margin: 0px auto;
}

.header {
    padding: 10px;
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    gap: 20%;
}

header img {
    width: 70px;
}

.tab ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.tab ul li a {
    list-style-type: none;
    color: rgb(68, 68, 68);
    text-decoration: none;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tab ul li a:hover {
    color: deepskyblue;
    transition: 0.5s;
}

.option ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}

.option ul li a {
    list-style-type: none;
    color: black;
    text-decoration: none;
}

nav {
    width: auto;
    background-color: black;
    color: rgb(203, 203, 203);
    text-align: center;
    font-size: 14px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.a {
    width: 27px;
}

.b {
    width: 40px;
}

.c {
    width: 28px;
}

.count {
    background-color: darkturquoise;
    position: relative;
    left: -30px;
    top: -10px;
    color: white;
    padding: 2px 5px;
    border-radius: 100px;
    font-size: 13px;
}

/* Đoạn mã CSS để ẩn div ban đầu và tạo hiệu ứng khi hiển thị */
.hidden-div {
    width: 350px;
    background-color: #81C8C2;
    box-shadow: 10px 0px 20px 5px;
    position: fixed;
    top: 0%;
    right: -30%;
    height: 100vh;
    z-index: 9999;
    transition: right 0.3s ease;
}


.show-div {
    width: 350px;
    box-shadow: 10px 0px 20px 5px;
    background-color: #81C8C2;
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 9999;
    transition: right 0.3s ease;
    color: black;
}

.listcart {
    padding: 50px;
}

.listcart img {
    border-radius: 10px;
}

.cart {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.tencart {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.carttt {
    display: flex;
    margin-top: 30%;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    gap: 10px;
}

.tongtien {
    text-align: center;
    font-size: 19px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.thanhtoan {
    background-color: black;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    position: relative;
    left: -50px;
    margin-top: 10px;
}

.thanhtoan a {
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.thoat {
    background: none;
    border: none;
    color: white;
    position: absolute;
    top: 45px;
    right: 20px;
    font-size: 20px;
}