.banner img {
    width: 100%;
}

.container {
    width: 1300px;
    padding: 0px;
    margin: 0px auto;
}

.list {
    display: grid;
    width: 75%;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 40px;
    margin-bottom: 60px;
}

.filter {
    width: 25%;
}

.image img {
    width: 220px;
    border-radius: 30px;
}

.product {
    text-align: center;
}
.product a{
    text-decoration: none;
    color: black;
}

.name {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.price {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    font-size: 14px;
}

.title {
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url('https://kinhmatanna.com/wp-content/uploads//2022/08/Vector-3-1.svg');
    width: 460px;
    height: 100px;
    opacity: 0.8;
}

.tl1 {
    font-size: 20px;
    position: relative;
    top: 26px;
    opacity: 1.1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tl2 {
    opacity: 1.1;
    position: relative;
    top: 30px;
    font-size: 30px;
    margin-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
}

.diadiem {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.left {
    width: 60%;
}

.right {
    width: 40%;
}

.diadiem img {
    width: 100%;
    height: 600px;
}

.flex {
    width: 100%;
    display: flex;
    justify-content: center;
}

.th {
    font-size: 23px;
    font-weight: 800;
    color: rgb(51, 51, 51);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.danhmuc {
    display: grid;
}

.ft {
    display: flex;
    width: 140px;
    text-align: left;
    margin-top: 20px;
}

.ft input {
    margin-right: 20%;
}

.ft label {
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
}