.formadd form {
    margin-left: 20%;
    padding: 30px;
}

.formadd select {
    width: 500px;
}

.formadd label {
    width: 500px;
    justify-content: space-between;
    display: flex;
}

.formadd input,
textarea,
select {
    padding: 9px;
    border-radius: 5px;
    border: 1px solid gainsboro;
    width: 350px;
    margin-bottom: 10px;
}

.formadd label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.error {
    color: red;
    margin-top: 5px;
    position: relative;
    right: -500px;
    top: -40px;
}

.formadd button {
    padding: 10px 50px;
    color: white;
    margin-top: 40px;
    font-weight: 700;
    background-color: cadetblue;
    border: none;
    transition: 0.5s;
    border-radius: 5px;
}

.formadd button:hover {
    padding: 10px 50px;
    transition: 0.5s;
    color: white;
    font-weight: 700;
    margin-top: 40px;
    background-color: coral;
    color: black;
    border: none;
    border-radius: 5px;
}

.thongbaothanhcong {
    width: 390px;
    display: flex;
    align-items: center;
}
.icon-spin {
    animation: spin 3s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }