.container2 form {
    max-width: 500px;
}

.container2 {
    width: 1200px;
    padding: 0px;
    margin: 0px auto;
}

.container2 input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1.5px solid rgb(215, 213, 213);
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
}

.container2 label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: white;
    font-size: 14px;
    font-weight: 200;
}

.container2 button[type="submit"],
.container2 input[type="submit"] {
    background-color: lightskyblue;
    border: none;
    padding: 10px 221px;
    border-radius: 5px;
    font-weight: 600;
    color: white;
}

.layout {
    display: flex;
    margin-top: 50px;
}

.container2 h2 {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
}

.giamgia {
    display: flex;
    gap: 20px;
}

.giamgia button {
    width: 120px;
    height: 35px;
    padding: 0px 10px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 5px;
}

.listcart {
    padding: 50px;
}

.listcart img {
    border-radius: 10px;
}

.cart {
    display: flex;
    gap: 50px;
}

.tencart {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.carttt {
    display: flex;
    margin-top: 30%;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    gap: 10px;
}

.tongtien {
    text-align: center;
    font-size: 19px;
    margin-right: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.thanhtoan {
    background-color: black;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    margin-left: 27%;
    margin-top: 10px;
}

.thanhtoan a {
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.cart img {
    width: 80px;
}

.phuongthuc {
    padding: 5px 50px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

.removecart{
    padding: 4px 10px;
    background-color: brown;
    color: white;
    border: none;
    margin-top: 5px
}