.banner img {
    width: 100%;
}

.container {
    width: 1300px;
    padding: 0px;
    margin: 0px auto;
}

.list-tc {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 30px;
}

.image img {
    width: 240px;
    border-radius: 0px 30px 0px 0px;
}

.product {
    text-align: center;
}

.name {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.price {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    font-size: 14px;
}

.title {
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url('https://kinhmatanna.com/wp-content/uploads//2022/08/Vector-3-1.svg');
    width: 460px;
    height: 100px;
    opacity: 0.8;
}

.tl1 {
    font-size: 20px;
    position: relative;
    top: 26px;
    opacity: 1.1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tl2 {
    opacity: 1.1;
    position: relative;
    top: 30px;
    font-size: 30px;
    margin-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
}

.diadiem {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.left {
    width: 60%;
}

.right {
    width: 40%;
}

.diadiem img {
    width: 100%;
    height: 600px;
}