.listproduct {
    width: 80%;
    float: right;
    padding: 20px;
    margin: 0px auto;
}

.listproduct table {
    margin-top: 10px;
}

.listproduct thead {
    background-color: rgb(241, 241, 241);
    text-align: left;
}

.listproduct th {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

.listproduct th {
    padding: 20px 30px;
}

.listproduct td {
    padding: 20px;
    font-size: 14px;
}

.listproduct tbody {
    padding: 20px;
    text-align: center;
}

.listproduct img {
    width: 90px;
    border-radius: 15px;
}

.listproduct .chucnang {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 45px;

}

.listproduct .chucnang2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;

}


.sua {
    background-color: rgb(32, 132, 239);
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.xoa {
    background-color: rgb(230, 39, 39);
    padding: 11px 12px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    color: white;
}

.themspmoi {
    text-decoration: none;
    color: darkslategray;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    border-radius: 10px;
    padding: 5px;
    background-color: thistle;
}